$divider-color: #000;
$text-color: #000;
$spacing: 15px;

.socials {
  position: absolute;
  left: 50px;
  top: 26%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: $spacing;
  width: fit-content;

  @media (max-width: 815px) {
    display: none;
  }

  &__icons {
    all: unset;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing;

    a {
      img {
        display: block;
        rotate: -90deg;
      }
    }
  }

  &__divider {
    height: 70px;
    width: 2px;
    background-color: $divider-color;
  }

  &__text {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    font-size: 16px;
    font-weight: bold;
    color: text-color;
    margin: 0;
  }
}
