@use 'variables';
@use 'hero';
@use 'socials';
@use 'menu';
@use 'experience';
@use 'contacts';
@use 'notify';

body {
  font-family: variables.$font-main;
  background-color: variables.$color-bg;
  color: variables.$color-text;
  line-height: 1.6;
}

button {
  all: unset;
  display: inline-block;
  cursor: pointer;
}
main {
  display: flex;
  align-items: center;
  align-items: center;
  flex-direction: column;
}

section {
  display: flex;
  align-items: center;
}
